.NavBar{
    background-color: black;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    align-content: space-between;
    div{
        height: 100px;
        width: 50%;
        padding: 0px 20px;
    }
    nav{
        height: 30px;
        padding: 35px;
        display: flex;
        justify-content: flex-end;
        a{
            text-decoration: none;
            color: rgb(243, 184, 35);
            font-size: 20px;
            padding-right: 30px;
        }
        a:hover{
            color: rgb(179, 133, 17);
            transition: 500ms;
        }
    }
}
.Logo{
    height: 70px;
    padding: 15px;
}
.Nome{
    height: 50px;
    padding: 25px 15px;
}