.Form{
    min-height: 150px;
    width: 65%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(228, 228, 228);
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.301);
}

.Div{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.Input{
    width: calc(100% - 4px);
    height: 35px;
}

.Inputs{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    div{
        width: 40%;
        input{
            width: 80%;
            height: 35px;
        }
        select{
            width: 80%;
            height: 39px;
        }
    }
    div:nth-child(2){
        div{
            width: 100%;
        }
    }
    div:nth-child(3){
        display: flex;
        width: 20%;
        padding-top: 25px;
        justify-content: space-between;
        button{
            height: 39px;
            width: 75px;
        }
    }
}

.Mode{
    display: flex;
    div:nth-child(1){
        width: 50%;
        text-align: center;
        border-top-left-radius: 20px;
    }
    div:nth-child(2){
        width: 50%;
        text-align: center;
        border-top-right-radius: 20px;
    }
    div:hover{
        transition: 500ms;
        background-color: rgb(200, 200, 200);
        cursor: pointer;
    }
}