.Form{
    min-height: 150px;
    width: 65%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(228, 228, 228);
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.301);
}

.Div{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.Camp{
    width: calc(100% / 3);
    margin-bottom: 10px;
    input, select{
        width: 80%;
        height: 35px;
    }
}

.customSelect {
  width: 80%;
  font-size: 1rem;
}

.customSelect :global(.react-select__control) {
  min-height: 38px; 
  height: 38px;
  border-radius: 4px;
  border-color: #ced4da;
  box-shadow: none;
}

.customSelect :global(.react-select__control--is-focused) {
  border-color: #2684FF;
  box-shadow: 0 0 0 1px #2684FF;
}

.customSelect :global(.react-select__value-container) {
  height: 38px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.customSelect :global(.react-select__indicators) {
  height: 38px;
  align-items: center;
}

.customSelect :global(.react-select__input-container) {
  margin: 0;
  padding: 0;
}

.Button{
    display: flex;
    width: calc(100% / 3);
    margin-top: 25px;
    gap: 1em;
    button{
        width: 30%;
    }
    button:nth-child(2){
        width: 40%;
    }
}

.Mode{
    display: flex;
    div:nth-child(1){
        width: 50%;
        text-align: center;
        border-top-left-radius: 20px;
    }
    div:nth-child(2){
        width: 50%;
        text-align: center;
        border-top-right-radius: 20px;
    }
    div:hover{
        transition: 500ms;
        background-color: rgb(200, 200, 200);
        cursor: pointer;
    }
}