.Inputs{
    display: flex;
    flex-wrap: wrap;
    div{
        height: 50px;
        min-width: 150px;
        width: calc(25% - 40px);
        padding: 10px 20px 0px 20px;
        
        select, input{
            width: 100%;
        }
    }
}
.Button{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
    button{
        border-radius: 5px;
        border: 1px solid;
        margin-left: 10px;
        padding: 3px;
    }
    button:hover{
        cursor: pointer;
    }
}