h1{
    text-align: center;
}
.Login{
    width: 30%;
    height: 400px;
    margin: 80px auto;
    padding-top: 20px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.425) ;
    form{
        width: 90%;
        height: 300px;
        margin: auto;
        
    }
}
.Input{
    div{
        width: 80%;
        margin: auto;
    }
    div:nth-child(1){
        margin-top: 10%;
    }
    input{
        width: calc(100% - 5px);
        height: 30px;
        padding-left: 2px;
        border-radius: 10px;
        border: 2px solid black;
    }
}
.Button{
    div{
        width: 20%;
        margin: 15% auto 0 auto;
        button{
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: 2px solid black;
        }
        button:hover{
            cursor: pointer;
        }
    }
}